<div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span>Contacts</span>
        <a type="button" href="#/create" class="btn btn-primary new-contact">New Contact</a>
      </div>
      <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th><strong>#</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Company</strong></th>
            <th><strong>Email</strong></th>
            <th><strong>Actions</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr class="contact-row" ng-repeat="contact in contacts">
            <td>{{$index + 1}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.company}}</td>
            <td>{{contact.email}}</td>
            <td>
              <a type="button" href="#/edit" class="btn btn-success" ng-click="editContact(contact)">Edit</a>
              <button type="button" class="btn btn-danger" ng-click="deleteContact(contact)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
